<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Spring Boot Stormpath example">
  <meta name="keywords" content="spring,stormpath,spring-boot,spring-mvc,spring-web,web-interceptor,spring-data-rest,mongodb,mustache,webjars-locator,bootstrap,java,gradle,html,css">
  <meta name="author" content="Maksim Kostromin">
  <title>Profiles</title>
  <link rel="stylesheet" href="{{ctx}}/webjars/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ctx}}/index.css">
</head>
<body class="container">
<h1 class="panel panel-heading">hi!</h1>
<ul class="list-style-none">
  {{#profiles}}<li id="{{id}}">{{name}}</li>{{/profiles}}
</ul>
</body>
</html>
